.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;

}
.card{
    height: 60vh;
    border: 1px solid black;
}
.container > .card > img{
    width: 100%;
    height: 70%;
}